@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Light.woff2') format('woff2'),
        url('Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-LightItalic.woff2') format('woff2'),
        url('Calibri-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-BoldItalic.woff2') format('woff2'),
        url('Calibri-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Italic.woff2') format('woff2'),
        url('Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.woff2') format('woff2'),
        url('Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri-Bold.woff2') format('woff2'),
        url('Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

