[class*="bg-"] {
    background-repeat: no-repeat;
}

.bg-texture {
    background: url("../elements/bg-texture.jpg") repeat;
}

.bg-tree {
    background: url("../elements/bg-tree.jpg") repeat;
    background-size: cover;
}

.bg-samui {
    background: url("../elements/bg-samui.jpg");
    background-size: cover;
    @media(min-width: 768px){
        background-color: #f0f0f0;
    }
}

.bg-phangan {
    background: url("../elements/bg-phangan.jpg");
    background-size: cover;
    @media(min-width: 768px){
        background-color: #f0f0f0;
    }
}

.bg-chiangmai {
    background: url("../elements/bg-chiangmai.jpg");
    background-size: cover;
    @media(min-width: 768px){
        background-color: #f0f0f0;
    }
}

.bg-gray-color {
    background-color: #f0f0f0;
}
