/** booking check-in check-out all in one*/
#booking_panel {
    .form-group {
        position: relative
    }
    .input-display {
        background-color: #fff;
        // opacity: .8;
        // color: #000;
        border-radius: 0.25rem;
        font-size: 1rem;
        // padding: calc(0.6rem + 1px) 1rem;
        border: 1px solid #fff;
        border-radius: 0.25rem;
        font-size: 13px;
        width: 100%;
        &-group {
            display: flex;
            flex-flow: row wrap;
            border-radius: 0.25rem;
            &:hover, &:active {
                color: #495057;
                font-weight: bold;
            }
            .input-display {
                // border-top-right-radius: 0;
                // border-bottom-right-radius: 0;
                border-width: 1px 0 1px 1px;
                &-append {
                    border-top-right-radius: 0.25rem;
                    border-bottom-right-radius: 0.25rem;
                    background-color: #fff;
                    opacity: .8;
                    color: #f8f9fa;
                    border-width: 1px 1px 1px 0;
                    border-style: solid;
                    border-color: #fff;
                    img {
                        opacity: 1;
                        width: 15px;
                        height: auto;
                    }
                    &-icon {
                        padding-top: 0.60rem;
                        padding-right: 0.75rem;
                    }
                    &-text {
                        padding: calc(0.75rem + 1px) 1rem calc(0.75rem + 1px) 0;
                    }
                }
            }
        }
    }
    .collapse-panel {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 200px;
        // width: 100%;
        transform: translate(-50%, 0);
        transform: translate3d(-50%, 0, 0);
        .inner {
            padding-top: 0.75rem;
        }
        .content {
            position: relative;
            padding: 1rem;
            background-color: #fff;
            border-radius: 0.25rem;
            &:before {
                content: '';
                background-color: #fff;
                width: 0.75rem;
                height: 0.75rem;
                position: absolute;
                top: 0;
                left: 50%;
                margin-top: -0.375rem;
                margin-left: -0.375rem;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                display: block;
                z-index: -1;
            }
        }
    }
}

.ui-datepicker {
    background-color: #fff;
    width: auto;
    width: 240px;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    color: #6c757d;
    padding: 0.5rem;
    display: none;
    .ui-state-disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:active,&:hover {
            background: inherit;
        }
    }
    &-header {
        position: relative;
        margin: -0.5rem -0.5rem 0.5rem;
        padding-left: 40px;
        padding-right: 40px;
    }
    &-title {
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    &-next,&-prev {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        &:before {
            font-family: 'Font Awesome 5 Pro';
            font-weight: 300;
            font-size: 1.25rem;
        }
        &:active,&:hover {
            background-color: #f8f9fa;
        }
        &.ui-state-disabled {
            background-color: none;
        }
        span {
            display: none;
        }
    }
    &-prev {
        &:before {
            content: '\f104';
        }
    }
    &-next {
        left: auto;
        right: 0;
        &:before {
            content: '\f105';
        }
    }
    &-calendar {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        td,th {
            padding: 0;
            font-weight: normal;
        }
        td {
            width: 14.28%
        }
        .ui-state-default {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2;
            transition: 350ms;
        }
        .ui-state-highlight {
            background: #f8f9fa;
        }
        .ui-state-active,.ui-state-hover {
            background-color: $main_color;
            color: #fff;
            transition-duration: 0ms;
        }
    }
}

#collapse_datepicker {
    min-width: 500px
}

.counter {
    &-label {
        display: block;
    }
    &-control {
        text-align: center;
        position: relative;
        border-radius: 0.25rem;
        user-select: none;
    }
    &-val {
        height: 48px;
        line-height: 48px;
        font-size: 2rem;
    }    
    &-inc,
    &-dec {
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        line-height: 48px;
        border-radius: 50%;
        cursor: pointer;
        &:hover,
        &:active {
            background-color: $main_color;
            color: #fff;
            // background-color: $gray;
        }
        &.disabled {
            cursor: not-allowed;
            background: inherit;
            opacity: 0.3;
            color: #000;
        }
    }
    &-dec {
        left: auto;
        right: 0;
    }
}

.update-required {
    #update_datepicker,
    #update_guest {
        background-color: #28a745;
        color: #fff;
    }
}

#datepicker_panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
    .panel {
        width: 50%;
        max-width: 50%;
        flex: 0 1 50%;
        padding: 0 10px;
        &+.panel {
            border-left: 1px solid #e9ecef;
        }
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
    .ui-datepicker {
        box-shadow: none;
        width: 100%;
        max-width: none;
        padding: 0;
        &-header {
            margin: 0;
        }
    }
    .label {
        line-height: 1.25;
        color: #adb5bd;
        &-date {
            display: block;
            font-size: 1.25rem;
            color: #495057;
        }
    }
    .diff {
        position: absolute;
        left: 50%;
        top: -0.25rem;
        background-color: #e9ecef;
        color: #495057;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        text-align: center;
        // padding-top: 0.25rem;
        font-size: 1.25rem;
        line-height: 1.5;
        margin-left: -21px;
        cursor: default;
        .unit {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0.65em;
            font-size: 0.5rem;
            line-height: 1;
        }
    }
    #arrive_label {
        text-align: left !important;
    }
    #depart_label {
        text-align: right !important;
    }
}