/** member*/

.desktop-btn-member {
    position: absolute;
    top: 10px;
    right: 30px;
    display: none;
    transition: 350ms;
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1300px) {
        width: 150px;
        height: 47px;
    }
    .member-form-toggle,
    .member-welcome {
        display: none;
        line-height: 1.2;
        background-image: linear-gradient(-180deg,#377cc3 30%,#3e6e9f 100%);
        position: relative;
        color: #fff;
        text-decoration: none;
        height: 48px;
        width: 150px;
        border-radius: 3px;
        text-transform: uppercase;
        transition: 350ms;
        span {
            display: block;
            font-weight: 500;
            color: #fff;
            margin-bottom: 0;
            @media(min-width: 1200px) {
                font-size: 1rem;
            }
        }
        .text-member {
            margin-left: 3rem;
            padding-top: .5rem;
        }
        .member-note {
            font-size: 10px;
            display: block;
            text-transform: capitalize;
            color: #fff;
        }
    }
    .member-welcome {
        cursor: default;
        .text-member {
            margin-left: 2rem;
            padding-top: .2rem;
        }
    }
    .member-form-toggle {
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 2px #fefefe;
            filter: brightness(115%);
        }
    }
    .panel-member-price {
        display: none;
        position: absolute;
        top: 100%;
        right: 0px;
        width: 100%;
        min-width: 240px;
        z-index: 2;
        .card {
            background-color: #000;
            opacity: .95;
            border-radius: 5px;
            border: unset;
            padding: .75rem;
        }
        .form-member-price {
            width: 100%;
            p {
                color: #fff;
                line-height: 15px;
                margin-bottom: 2px;
            }
            a {
                color: #fff;
                font-size: 12px;
                margin-bottom: 2px;
                &:hover,&.active {
                    color: $main_color;
                    text-decoration: underline;
                }
            }
            .form-member {
                .form-control {
                    margin-bottom: 10px;
                    margin-top: 5px;
                    width: 100%;
                    background-color: #000;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 14px;
                    &::placeholder {
                        color: #ddd;
                        font-size: 13px;
                    }
                }
                .btn-submit {
                    width: 50%;
                    background-color: $main_color;
                    border: none;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 15px;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover, &:active {
                        background-color: $main_color_dark;
                    }
                }
                .btn-close {
                    color: #fff;
                    font-size: 12px;
                    padding-left: 10px;
                    &:hover, &:active {
                        color: $main_color;
                        text-decoration: none;
                    }
                }
            }
        }
        @media(min-width: 768px){
            display: block;
        }
    }
    .icon {
        position: absolute;
        top: 0.65em;
        left: 15px;
    }
    &.is-member {
        .member-welcome {
            display: block;
        }
    }
    &.is-guest {
        .member-form-toggle {
            display: block;
        }
    }
}

.mobile-btn-member {
    position: relative;
    font-size: 14px;
    .member-welcome,
    .member-form-toggle {
        display: none;
        line-height: 1.2;
        background-color: $main_color_light;
        // background-image: linear-gradient(35deg,#b58b52 30%,#c9a574 100%);
        position: relative;
        color: #fff;
        text-decoration: none;
        height: 48px;
        transition: 350ms;
        .text-member {
            margin-left: 3rem;
            padding-top: .5rem;
        }
        .member-note {
            font-size: small;
            display: block;
            white-space: nowrap;
        }
    }
    .member-welcome {
        cursor: default;
    }
    .member-form-toggle {
        background-color: $main_color_light;
        // background-image: linear-gradient(35deg,#b58b52 30%,#c9a574 100%);
        transition: filter 350ms;
        will-change: filter;
        &:hover,
        &:active,
        &:not(.collapsed) {
            filter: brightness(1.1);
        }
    }
    .icon {
        position: absolute;
        top: 0.65em;
        left: 29px;
    }
    .panel-member-price {
        &-wrapper {
            padding: 20px 25px;
            background-color: #000;
        }
        .form-member-price p {
            color: #fff;
            line-height: 15px;
            font-size: 15px;
            margin-bottom: 10px;
        }
        .form-member {
            .form-group {
                margin-bottom: 0;
            }
            .form-control {
                margin-bottom: 5px;
                width: 100%;
                background-color: #000;
                border: 1px solid #fff;
                color: #fff;
                font-size: 14px;
            }
            .btn-submit {
                width: 30%;
                background-color: $main_color;
                border: none;
                font-size: 14px;
                font-weight: 500;
                padding: 5px 10px;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: lighten($main_color, 10);
                    border-color: lighten($main_color, 15);
                }
                @media(min-width: 768px) {
                    padding: 10px;
                }
            }
            .btn-close {
                color: #fff;
                font-size: 14px;
                padding-left: 10px;
                &:hover {
                    color: $main_color;
                }
            }
        }
    }
    &.is-member {
        .member-welcome {
            display: block;
        }
    }
    &.is-guest {
        .member-form-toggle {
            display: block;
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}
#btn_member_submit {
    &.btn-fade {
        opacity: .5;
        cursor: not-allowed;
    }
}