$main_color: #324f6c;
$second_color: #3a5979;
$main_color_dark: darken($main_color, 10);
$main_color_light: lighten($main_color, 10);
$gray: #d2d2d2;
$light_gray: #eeeeee;
$dark_gray: #4a4a48;
$yellow: #feef4c;