@import "variable";
@import "box-ratio";
@import "background";
@import "member";
@import "booking";

html {
    font-size: 16px;
}

body {
    color: #000;
    line-height: 1.2;
    font-family: 'Calibri';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    background-color: #ffffff;
}

b, strong {
    font-weight: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    color: $main_color;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: $main_color_dark;
    text-decoration: none;
	img {
		opacity: 0.85;
	}
}

img {
    max-width: 100%;
    height: auto;
	transition-duration: 350ms;
	transition-property: opacity;
	backface-visibility: hidden;
    &.no-responsive {
        width: auto;
    }
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.video-cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    @media(min-width: 768px){
        height: 100%;
    }
}
.mobile {
    display: block;
    @media(min-width: 768px){
        display: none;
    }
}

.desktop {
    display: none;
    @media(min-width: 768px){
        display: block;
    }
}

.ml-custom {
    @media(min-width: 768px){
        margin-left: 5rem;
    }
}
// site header
.site-header {
    position: relative;
    &.mini {
        .top-bar {
            display: none;
            transition: all .3s ease;
        }
    }
    @media(min-width: 768px){
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: auto;
        transition: 350ms;
    }
    .top-bar {
        position: relative;
        width: 100%;
        height: auto;
        background-color: $second_color;
        ul {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 0;
            height: 57px;
        }
        a {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            padding: 19px 16px;
            &:hover, &.active {
                background-color: $main_color;
            }
        }
    }
    .main-bar {
        position: relative;
        background-color: $main_color;
        width: 100%;
        height: 67px;
    }
    .site-branding {
        position: absolute;
        top: 0;
        left: 75px;
        @media(min-width: 768px){
            left: 95px;
        }
        .logo {
            margin-top: 6px;
        }
    }
    #main {
        transition: margin-left .5s;
        position: absolute;
        display: block;
        top: 15px;
        left: 15px;
        transition: 350ms;
        @media(min-width: 768px) {
            left: 30px;
        }
        span {
            cursor: pointer;
        }
    }
}
.site-booking-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 48px; 
    .booking-bar {
        display: none;
        @media(min-width: 1200px){
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 190px;
            padding-top: 10px;
        }
        .input-text ,.input-select ,.custom-select {
            width: 140px;
            border: unset;
            background-color: transparent;
            color: $main_color;
            padding: 0rem .75rem .95rem .75rem;
            font-size: 13px;
            margin-top: 17px;
            &:focus {
                border: unset;
                box-shadow: unset;
            }
        }
        #room, #adult, #child {
            padding-left: 2.25rem;
        }
        .form-group {
            // display: grid;
            text-align: center;
            background-color: #fff;
            margin: 0 5px;
            height: 48px;
            width: auto;
            border-radius: 3px;
        }
        .select-property {
            background-position: 50px 24px !important;
        }
        .input-select {
            background: transparent url("../elements/angle-down.png") no-repeat;
            background-size: 10px 5px;
            background-position: 65px 24px;
            cursor: pointer;
            option {
                background-color: #fff;
                color: #333;
                text-align: center;
            }
            &:hover, &:active {
                color: #495057;
                font-weight: bold;
            }
        }
        .input-text {
            font-size: 14px;
        }
        .btn-submit {
            background-image: linear-gradient(35deg,#b58b52 30%,#c9a574 100%);
            color: #fff;
            font-size: 20px;
            letter-spacing: 2px;
            border: none;
            margin-left: 5px;
            height: 48px;
            width: auto;
            text-transform: uppercase;
            padding: 0 30px;
            border-radius: 3px;
            transition: 150ms;
            cursor: pointer;
            &:hover, &:active {
                box-shadow: 0 0 2px #c9a574;
                transition: 350ms;
                filter: brightness(115%);
            }
        }
        .datepicker {
            background: transparent url("../elements/angle-down.png") no-repeat;
            background-size: 10px 5px;
            background-position: 65px 24px;
            color: $main_color;
            width: 140px;
            font-size: 13px;
        }
    }
    label {
        color: #898989;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
}
.play-button {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 4;
    font-weight: bold;
    width: 70px;
    height: 70px;
    font-size: 36px;
    border-radius: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // margin-left: -90px;
    // margin-top: -35px;
    transition: 200ms;
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
    border: 2px solid #fff;
    &:hover, &:active {
        background-color: #fff;
    }
    &:focus {
        outline: none;
    }
    i {
        padding-left: 5px;
        padding-top: 5px;
    }
}
.paused .play-button {
    display: block;
    visibility: visible;
    opacity: 1;
}
.mobile-menu {
    display: block;
    @media(min-width: 2500px) {
        display: none;
    }
    .block {
        padding: 0 1rem;
        text-align: center;
        position: relative;
        min-width: 50px;
        display: block;
        a {
            color: #000;
            &:hover,&:active {
                color: $main_color;
            }
        }
    }
    .block+.block:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        width: 1px;
        height: 100%;
        background-color: #000;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 1px 0px 3px #868e96;
        @media screen and (max-height: 450px) {
            padding-top: 15px;
            a {
                font-size: 18px;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 36px;
            margin-left: 50px;
            color: $main_color;
            font-family: sans-serif;
            &:hover {
                color: $main_color_dark;
            }
        }
    }
    .slide-menu-here {
        .menu-bar {
            padding: .5rem 0;
            text-align: center;
            li {
                position: relative;
                transition: 350ms;
                .logo {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                }
            }
        }
    }
    .hover-menu {
        padding: .8rem 1rem;
        width: 100%;
        position: relative;
        display: inline-block;
        color: #000;
        transition: 350ms;
        text-transform: uppercase;
        &:hover{
            background-color: $main_color;
            color: #fff;
            transition: 350ms;
            i {
                color: #fff;
            }
        }
        &.collapsed i {
            transition: 350ms;
            transform: rotate(0deg);
        }
        i {
            color: #000;
            transform: rotate(90deg);
            transition: 350ms;
            margin-left: 10px;
        }
    }
}
/** site main */
.site-main {
    @media(min-width: 768px){
        padding-top: 124px;
    }
}

//
// Block Hotel
// Rewrite by Boat
//
.block-hotel {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 992px) {
        justify-content: flex-start;
        align-items: flex-end;
        height: 33vw;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 20%;
        height: auto;
        padding: 10px;
    }

    .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .panel-detail {
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #545454;
        border-radius: 3px 3px 0 0;

        @media (min-width: 768px) {
            color: $dark_gray;
            width: 180px;
            padding: 25px 15px;
            text-shadow: none;
            background-color: rgba(255,255,255,.9);
        }

        @media (min-width: 992px) {
            width: 260px;
        }

        h4 {
            font-weight: normal;

            @media (min-width: 768px) {
                font-size: 14px;
            }

            @media (min-width: 992px) {
                font-size: 16px;
            }
        }

        p {
            @media (min-width: 768px) {
                font-size: 10px;
            }

            @media (min-width: 992px) {
                font-size: 12px;
            }
        }

        i {
            color: gold;
            text-shadow: 0 0 2px #898989;
        }
    }

    .btn-explore {
        font-size: 16px;
        color: #fff;
        padding: 5px 35px;
        border-radius: 0;
        background-color: $dark_gray;
        
        &:hover,
        &:active {
            background-color: $main_color;
        }
    }
}

#phangan {
    @media (min-width: 992px) {
        justify-content: flex-end;
    }
}

.btn-view-social {
    color: #000;
    background-color: #feef4c;
    font-size: 24px;
    font-weight: 100;
    padding: 15px 35px;
    text-transform: uppercase;
    &:hover, &:active {
        color: #fff;
        box-shadow: 0px 0px 2px #feef4c;
    }
}
.site-intro {
    text-align: center;
    padding: 2.5rem 0;
    h2 {
        font-size: 30px;
        font-weight: normal;
        color: #545454;
    }
}
.swiper {
    &-container {
        width: 100%;
        height: 100%;
    }
    &-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center center;
        img {
            &:hover, &:active {
                opacity: 1;
                filter: brightness(110%);
            }
        }
    }
}
.ig {
    &-post {
        &-title {
            font-size: 1.25rem;
            font-weight: normal;
        }
        &-album {
            display: flex;
            flex-flow: row wrap;
            margin: -3px;
            list-style: none;
            margin: 0;
            padding-left: 0;
        }
        &-item {
            flex: 1 1 33.33%;
            max-width: 33.33%;
            padding: 3px;
            a, img {
                display: block;
            }
        }
    }
    &-icon-logo {
        position: absolute;
        top: 1rem;
        left: 2rem;
        // left: 1rem;
        z-index: 2;
        width: 50px;
        height: auto;
        @media(min-width: 768px){
            width: 30px;
        }
        @media(min-width: 992px){
            width: 50px;
        }
    }
    &-title {
        position: absolute;
        left: 1rem;
        top: .75rem;
        z-index: 1;
        color: #fff;
        padding-left: 45px;
        font-size: 1.25rem;
        text-shadow: 2px 2px 2px #000;
        @media(min-width: 768px){
            top: .25rem;
            font-size: .75rem;
            padding-left: 20px;
        }
        @media(min-width: 992px){
            top: 0.5rem;
            padding-left: 50px;
            font-size: 1.25rem;
        }
        a {
            color: #fff;
            &:hover, &:active {
                transition: all .3s ease;
                color: #ddd;
            }
        }
    }
}
/** site footer */
.site-footer {
    position: relative;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2NUV1f///v3bwZWVlYGEM2opKT0H8YB0YwEVQAAWs0XtyriU9QAAAAASUVORK5CYII=) repeat;
    color: $gray;
    .title {
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        text-transform: uppercase;
    }
    .word {
        font-size: 13px;
        font-weight: 300;
    }
    .block {
        padding: 0 1rem;
        // text-align: center;
        position: relative;
        min-width: 80px;
        display: block;
    }
    .block+.block:before {
        @media(min-width: 1200px) {
            content: '';
            top:0;
            left: 0;
            position: absolute;
            display: block;
            width: 1px;
            height: 100%;
            background-color: $gray;
        }
    }
    .icon-contact {
        font-size: 2rem;
        margin-left: 15px;
        &.rotate {
            transform: scale(-1,1);
        }
        @media(min-width: 768px){
            font-size: 1.75rem;
            margin-left: 5px;
        }
    }
    .content {
        display: inline-block;
        text-align: left;
        padding-left: 15px;
        .title {
            color: $gray;
            line-height: 1.2;
            text-transform: uppercase;
            font-weight: 300;
            font-style: normal;
            font-size: 14px;
            @media(min-width: 768px){
                font-size: 16px;
            }
        }
        .detail {
            a {
                color: $gray;
                font-size: 12px;
                &:hover, &:active {
                    color: #fff;
                }
                @media(min-width: 768px){
                    font-size: 10px;
                }
                @media(min-width: 992px){
                    font-size: 11px;
                }
            }
        }
    }
    .site-copyright {
        background-color: #111111;
        text-align: center;
        padding-top: 10px;
        @media(min-width: 768px){
            padding-bottom: 10px;
        }       
        a {
            color: $light_gray;
            &:hover, &:active {
                color: #fff;
            }
        }
        .tl-m {
            text-align: center;
            color: $gray;
            font-size: 10px;
            margin-bottom: 0;
            @media(min-width: 768px) {
                text-align: left;
            }
        }
        .tr-m {
            text-align: center;
            color: $gray;
            font-size: 10px;
            @media(min-width: 768px) {
                text-align: right;
            }
        }
    }
}
.social {
    list-style: none;
    padding-left: 0px;
    h2 {
        color: $gray;
        font-weight: 100;
        font-size: 22px;
        @media(min-width: 576px){
            font-size: 30px;
        }
    }
    .bubble {
        display: inline-block;
        vertical-align: middle;
        @media(min-width: 992px){
            padding-left: 5px;
            padding-right: 5px;
        }
        a {
            display: block;
            color: $gray;
            text-align: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            transition: 200ms;
            border: 1.5px solid;
            &:hover, &:active {
                color: #fff;
            }
        }
    }
    .icon {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
    &-carousel {
        .owl-item {
            display: flex;
            flex-flow: row wrap;
            margin: -3px;
            list-style: none;
            margin: 0;
            padding-left: 0;
        }
    }
}
.caption-style-3 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
        padding: 0px;
        position: relative;
        overflow: hidden;
        &:hover {
            .caption {
                opacity: 1;
                transform: translateY(-100px);
            }
            img {
                opacity: 1;
                transform: translateY(-40px);
            }
        }
    }
    img {
        margin: 0px;
        padding: 0px;
        z-index: 0;
        transition:all 0.15s ease-in-out;
    }
    .caption {
        cursor: pointer;
        position: relative;
        opacity: 0;
        transition:all 0.15s ease-in-out;
        &-text {
            z-index: 10;
            color: #fff;
            position: absolute;
            background-color: $main_color;
            width: 100%;
            height: auto;
            text-align: center;
            top:20px;
            h1 {
                text-transform: uppercase;
                font-size: 18px;
                margin: 10px 0;
            }
            p {
                margin-bottom: 10px;
                margin-left: 15px;
                text-align: left;
                padding: 30px;
            }
        }
    }
    .blur {
        background-color: $main_color;
        width: 100%;
        height: auto;
        z-index: 5;
        position: absolute;
    }
}
.mobile-booking {
    display: block;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: 350ms;
    transition-property: background-color, transform, box-shadow;
    .form-control {
        option {
            font-size: 12px;
        }
    }
    .btn-submit {
        width: 50%;
        height: auto;
        border: 0;
        background-color: $main_color;
        font-size: 20px;
        padding: 15px;
        color: #fff;
    }
    .custom-select {
        width: 50%;
        height: auto !important;
        border: 0;
        border-radius: 0;
        @media(min-width: 390px) {
            width: 75%;
        }
    }
    a {
        display: block;
        background-color: $main_color;
        color: #fff;
        line-height: 60px;
        font-size: 1.5rem;
        padding: 0 1.5rem;
        &:hover {
            background-color: $second_color;
        }
    }
    @media(min-width: 768px){
        display: block;
        top: auto;
        left: auto;
        right: 2rem;
        bottom: 1rem;
        a {
            border-radius: 0.25rem;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        }
    }
    @media (min-width: 1200px){
        display: none;
    }
}
/* Styles for Modal member */
#member_modal {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
    position: relative;
    .form-control {
        background-color: #ddd;
        option {
            font-size: 12px;
        }
    }
    .btn-submit {
        width: 50%;
        height: auto;
        border: 0;
        background-color: $main_color;
        font-size: 16px;
        padding: 15px;
        color: #fff;
    }
    .custom-select {
        width: 50%;
        height: auto !important;
        border: 0;
        border-radius: 0;
        font-size: 12px;
        @media(min-width: 390px) {
            width: 75%;
        }
    }
}
.my-mfp-zoom-in {
    .zoom-anim-dialog {
        opacity: 0;
        transition: all 0.2s ease-in-out; 
        transform: scale(0.8); 
    }
    &.mfp-ready {
        .zoom-anim-dialog {
            opacity: 1;
            transform: scale(1); 
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    &.mfp-removing {
        .zoom-anim-dialog {
            transform: scale(0.8); 
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
    &.mfp-bg {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
}
/** go top*/
.arrows,
.bounce {
    display: none;
}
@media(max-width: 768px) {
    .arrows {
        display: block;
        position: fixed;
        bottom: 70px;
        right: 1rem;
        margin-left: 0px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        z-index: 9;
        transition: 350ms;
        &:hover,
        &:focus,
        &:active {
            color: #000;
            background: #fff;
            text-decoration: none;
        }
    }
    @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    .bounce {
        display: block;
        animation: bounce 2s infinite;
    }
}

html.scroll-down {
    .mobile-booking {
        transform: translate(0, 100%);
        transform: translate3d(0, 100%, 0);
        box-shadow: none;
        @media (min-width: 576px) {
            transform: translate(calc(100% + 40px), 0);
            transform: translate3d(calc(100% + 40px), 0, 0);
        }
    }
}

#drag-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    height: 100vh;
    background: none !important;
    z-index: 100001;
}

.m-panel-background {
    display: none;
}
.m-panel-background {
    display: block;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: -webkit-calc(100% + 60px);
    height: calc(100% + 60px);
    z-index: 200;
}
.m-panel-background {
    -webkit-transition: 400ms;
    transition: 400ms;
}
body.m-panel-visible {
    overflow: hidden;
}
body.m-panel-visible .m-panel-background {
    opacity: 0.7;
    visibility: visible;
}

/* Sticky Banner */
// @keyframes buttonBlinking {
//     0% {filter: brightness(1);}
//     50% {filter: brightness(1.5);}
// }

// .tl-sticky-banner-toggle {
//     display: none;
//     @media(min-width: 320px){
//         position: fixed;
//         z-index: 20;
//         bottom: 20px;
//         right: 15px;
//         display: block;
//         width: 48px;
//         height: auto;
//         font-size: 24px;
//         line-height: 48px;
//         color: black;
//         border: 0;
//         border-radius: 50%;
//         background-color: gold;
//         box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
//         animation: buttonBlinking 2s infinite linear;
//         cursor: pointer;
//         opacity: 1;
//         visibility: visible;
//         transition: 350ms;
//         &::before, &::after {
//             opacity: 0;
//             visibility: hidden;
//             transition: 350ms;
//         }
//         &::before {
//             content: 'Deals';
//             position: absolute;
//             top: 50%;
//             right: calc(100% + 12px);
//             height: 26px;
//             margin-top: -13px;
//             padding: 0 8px;
//             background-color: #222;
//             color: gold;
//             font-size: 14px;
//             line-height: 26px;
//             border-radius: 0.25rem;
//         }
//         &::after {
//             content: '';
//             position: absolute;
//             top: 50%;
//             right: calc(100% + 6px);
//             width: 0;
//             height: 0;
//             margin-top: -6px;
//             border-width: 6px 0 6px 6px;
//             border-style: solid;
//             border-color: transparent transparent transparent #222;
//         }
//         &:hover {
//             &::before, &::after {
//                 opacity: 1;
//                 visibility: visible;
//             }
//         }
//         &.ready.show {
//             opacity: 0;
//             visibility: hidden;
//             transform: translate(70px, 0);
//             transform: translate3d(70px, 0, 0);
//         }
//     }
// }

// .tl-sticky-banner {
//     display: none;
//     @media(min-width: 320px) {
//         position: fixed;
//         right: 1rem;
//         bottom: 1rem;
//         display: block;
//         z-index: 20;
//         width: 320px;
//         height: auto;
//         padding: 8px;
//         background-color: rgba(255, 255, 255, 0.85);
//         box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
//         opacity: 0;
//         visibility: hidden;
//         transform: translate(10px, 0);
//         transform: translate3d(10px, 0, 0);
//         transition: 350ms;
//         &.ready.show {
//             opacity: 1;
//             visibility: visible;
//             transform: translate(0, 0);
//             transform: translate3d(0, 0, 0);
//         }
//         .content {
//             position: relative;
//             &-close {
//                 position: absolute;
//                 z-index: 10;
//                 top: 0;
//                 right: 0;
//                 background-color: rgba(255, 255, 255, 0.85);
//                 border: 0;
//                 cursor: pointer;
//             }
//         }
//         .item {
//             display: block;
//         }
//         .owl-nav {
//             top: 10px;
//             left: 10px;
//             right: auto;
//             bottom: auto;
//             opacity: 0.4;
//             position: absolute;
//             &:hover {
//                 opacity: 1;
//             }
//             .owl-next, .owl-prev {
//                 background-color: rgba(0, 0, 0, 0.6);
//                 color: #fff;
//                 display: inline-block;
//                 width: 32px;
//                 height: 32px;
//                 line-height: 32px;
//                 text-align: center;
//             }
//             .owl-next {
//                 margin-left: 3px;
//             }
//         }
//     }
//     @media(min-width: 768px) {
//         bottom: calc(1rem + 46px);
//     }
// }

// [data-flyout] {
//     width: 100%;
//     height: auto;
//     position: fixed;
//     bottom: 0;
//     right: -350px;
//     color: #555;
//     font-size: 10pt;
//     text-align: left;
//     opacity: 0;
//     z-index: 500;
//     pointer-events: none;
//     box-shadow: rgba(0,0,0,.5) 0 0 1px, rgba(0,0,0,.15) 0 5px 15px;
//     transition: right .2s ease-in-out, opacity .2s ease-in-out;
//     box-sizing: border-box;
//     * {
//         box-sizing: border-box;
//     }
//     div:after {
//         content: '';
//         display: block;
//         clear: both;
//     }
//     h2 {
//         margin: -15px -15px 15px -15px;
//         padding: 15px;
//         color: #fff;
//         background: #f60;
//         line-height: 1;
//         font-size: 14pt;
//         font-weight: 600;
//         letter-spacing: -.02em;
//         text-shadow: #f40 1px 1px 0;
//     }
//     h3 {
//         color: #111;
//         margin: 0 0 5px 0;
//         line-height: 1.2;
//         font-size: 12pt;
//         letter-spacing: -.02em;
//     }
//     p {
//         margin: 0;
//     }
//     h2, h3, img, p {
//         display: none;
//     }
//     @media(min-width: 300px) {
//         img, h3 {
//             display: block;
//         }
//     }
//     @media(min-width: 400px) {
//         p {
//             display: block;
//         }
//     }
//     @media(min-width: 576px) {
//         max-width: 350px;
//         h2 {
//             display: block;
//         }
//     }
//     &.show {
//         right: 0;
//         pointer-events: all;
//         opacity: 1;
//     }
// }

/** tl-lightbox-countdown */
// #tl_lightbox_countdown {
//     position: absolute;
//     right: 0;
//     bottom: 0px;
//     max-width: 320px;
//     margin: auto;
//     font-family: 'Arial', sans-serif;
//     @media(min-width: 576px){
//         max-width: 471px;
//     }
//     .timer {
//         padding: 1.25em;
//         font-size: 1.25em;
//         color: #fff;
//         background-color: transparent;
//         text-align: center;
//     }
//     img {
//         max-width: 100%;
//         height: auto;
//     }
//     .mfp-close {
//         color: #fff;
//         margin-top: -44px;
//         text-align: right;
//     }
// }
// #tl_lightbox_btn {
//     display: block;
//     opacity: 0;
//     visibility: hidden;
//     position: fixed;
//     right: 50px;
//     bottom: 70px;
//     z-index: 99;
//     transform: scale(.9);
//     filter: brightness(1) drop-shadow(0 1px 3px rgba(0,0,0,.2));
//     transition: 350ms;
//     &.show {
//         opacity: 1;
//         visibility: visible;
//         transform: scale(1);
//         animation: blink 2s infinite;
//     }
//     &:hover, &:active {
//         filter: brightness(1.2);
//         animation: none;
//     }
//     .timer {
//         background-color: #502111;
//         border: 1px solid #eee;
//         border-radius: .25rem;
//         margin: auto;
//         padding: .25em;
//         width: 100px;
//         font-size: .85em;
//         text-align: center;
//         color: #fff;
//         position: absolute;
//         top: 100px;
//         left: 0;
//         right: 0;
//     }
// }

// .magificent-seven-bg {
//     background-image: url("assets/elements/gallery-slide-04.jpg");
//     background-size: 180px 176px;
//     display: block;
//     width: 180px;
//     height: 176px;
// }

// @keyframes blink {
//     0% {filter: brightness(1);}
//     50% {filter: brightness(1.2);}
// }

// body.scroll-down #tl_lightbox_btn {
//     opacity: 0;
//     visibility: hidden;
// }

// .mfp-container {
//     padding-top: 48px;
//     padding-bottom: 0px;
//     padding-right: 0 !important;
// }

// .mfp-content {
//     vertical-align: bottom !important;
// }

// .mfp-bg.mfp-fade-up {
//     opacity: 0;
//     transition: opacity 350ms;
// }

// .mfp-bg.mfp-fade-up.mfp-ready {
//     opacity: .65;
// }

// .mfp-bg.mfp-fade-up.mfp-ready.mfp-removing {
//     opacity: 0;
// }

// .mfp-wrap.mfp-fade-up .mfp-content {
//     opacity: 0;
//     transform: translate(0, 20px);
//     transform: translate3d(0, 20px, 0);
//     transition: 350ms;
// }

// .mfp-wrap.mfp-fade-up.mfp-ready .mfp-content {
//     opacity: 1;
//     transform: translate(0, 0);
//     transform: translate3d(0, 0, 0);
// }

// .mfp-wrap.mfp-fade-up.mfp-ready.mfp-removing .mfp-content {
//     opacity: 0;
//     transform: translate(0, 20px);
//     transform: translate3d(0, 20px, 0);
// }
// .section-content {
//     position: absolute;
//     top: 60%;
//     right: 40%;
//     transform: translate(50%, -50%);
//     text-align: center;
//     .title {
//         color: #373737;
//         font-weight: bold;
//         margin-bottom: 0;
//         font-size: 14px;
//         @media(min-width: 576px){
//             font-size: 18px;
//         }
//     }
//     .desc {
//         color: #373737;
//         margin-bottom: 5px;
//         font-weight: normal;
//         font-size: 12px;
//         @media(min-width: 576px){
//             font-size: 16px;
//         }
//     }
//     strong {
//         font-weight: bold
//     }
//     hr {
//         display: none;
//         @media(min-width: 576px){
//             display: block;
//             margin-top: .25rem;
//             border-top: 2px dotted #545454;
//         }
//     }
//     .btn-unlock-offer {
//         background-image: linear-gradient(-180deg,#f09225 30%,#f59e3b 100%);
//         border-radius: 5px;
//         padding: 10px 15px;
//         color: #fff;
//         font-size: 14px;
//         @media(min-width: 576px){
//             font-size: 18px;
//         }
//         &:hover, &:active {
//             filter: brightness(110%);
//             box-shadow: 0 0 2px #f59e3b;
//         }
//     }
//     .position-relative {
//         position: relative;
//         padding: 25px 0;
//         @media(min-width: 576px){
//             padding: 35px 0;
//         }
//     }
// }

.site-cover {
    position: relative;

    .background {
        img {
            display: block;
        }
    }

    .logo {
        position: absolute;
        top: 0;
        margin: 12px;

        &.samui {
            left: 0;
        }

        &.phangan {
            right: 0;
        }
    }

    .panel-detail {
        position: absolute;
        z-index: 1;
        bottom: 10%;

        &.samui {
            left: 0;
            border-radius: 0 3px 3px 0;
        }
        
        &.phangan {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    }
}

.cover-samui,
.cover-phangan {
    position: relative;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
    }

    .panel-detail {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.panel-detail {
    width: 280px;
    color: #222;
    text-shadow: none;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    &.samui {
        left: 0;
    }

    &.phangan {
        right: 0;
    }

    .content {
        background-color: hsla(0, 0%, 100%, .65);
        padding: 15px 5px;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    .bottom {
        margin-top: 8px;
    }

    .title {
        font-size: 16px;
    }
    
    .btn-explore {
        font-size: 16px;
        padding: 5px 15px;
        border-radius: 0;
        color: inherit;
        background-color: hsla(0, 0%, 100%, .65);
        position: relative;

        .text {
            position: relative;
            z-index: 1;
            color: inherit;
            transition: 250ms;
        }

        .deco {
            --line-color: #{$main_color};
            background-color: transparent;
            position: absolute;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            border-width: 1px;
            border-style: solid;
            border-color: var(--line-color) var(--line-color) transparent;
            transition: 250ms;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 16%;
                left: -1px;
                bottom: -1px;
                background-color: var(--line-color);
                transition: 250ms;
            }

            &::after {
                left: auto;
                right: 0;
            }
        }

        &:hover,
        &:active {
            .text {
                color: var(--line-color);
            }

            .deco::before,
            .deco::after {
                width: 51%;
            }
        }
    }
}